<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <input type="name" class="form-control" name="project[name]" id="project_name" aria-describedby="nameHelp" placeholder="Enter Project Name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
