<h1>New Project</h1>
<%= render 'form', project: @project %>
<hr>
<span data-feather="arrow-left"></span>
<%= link_to 'Back to Project List', projects_path, :role => 'button', :class => 'btn btn-secondary btn-sm' %>
